header{
    display: grid;
    grid-template-areas:
    "logo titulo none" ;
    h1 {
        color: rgba(0, 0, 255, 0.632);
        font-size: 70px;
        margin: 30px;
        text-align: center;
        text-decoration: underline;
    }
    .logo{
        height: 20vh;
        width: 20vh;
        border: solid;
        border-color: black;
        border-radius: 50%;
    }
    @include mobile{
        margin-top: 10px;
        .logo{
            height: 15vh;
            width: auto;
        }
        h1{
            display: none;
        }
    }
    .titulo{
        margin-inline-start: -20%;
    }
}