.tabla-posiciones, .tabla-goleadores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
}

.tabla-posiciones{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.bienvenido{
    text-align: center;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: rgba(2, 107, 2, 0.791);
}

li{ 
    list-style: none;
}

@media (max-width: 425px){
    .titulo{
        font-size: 16px;
        padding: 20px;
    }
}

.lista{
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    padding: 45px;
    .item{
        padding: 5px;
        align-items: center;
        text-align: center;
        }
    }
.nav-item{
        margin: 0 30px;
            .nav{
                display: flex;
                justify-content: center;
                padding: 30px; 
            }
        }

.cancha{
    height: 90vh;
    width: 190vh;
    margin-inline-start: 60px;
}
